table tr:hover
{
    background: #3de1ff;
}
table {
    background: beige;
    color: black;
    }
table {
    width: 100px;

    border-spacing: 7px;
}
table
{
    border-collapse: collapse;
}
abbr
{
    border-bottom: #ff672c;
    color: blue;
}
#copyrigyrt {
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-align: right;
}